<!DOCTYPE html>
<html>

<head>
  <title>Gutter Lanes</title>
<head>

<body>
  <h1>Buster's Best Bowling Alley</h1>
  <h2>Bet You Can't Bowl A Strike Every Time</h2>
  <p>
    The hours are Mon-Sat 10am-10pm.
  </p>

  <img src="https://s3.amazonaws.com/learn-verified/bowling.gif" hspace="10" align="right" width="300px">

  <p>
    Tournaments are every Sunday 3pm-6pm
  </p>
  <p>97 Bowling Alley Lane, Boulder CO </p>

</body>

</html>